@import "~bootstrap-icons/font/bootstrap-icons.css";


/* .space-buttons{
    flex: 1 1 auto;
} */
/* ------------------------------------------------ */

/* ul {
    list-style: none;
} */

/* Utility classes */
/* .small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
} */

/* nav bar */
/* .main-nav {
    justify-content: space-between;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
} */

/* --------------------------------------------------- */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img {
    width: 100px;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
    color: white;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
} */

/* -------------------------- */
*{
    font-family: 'Poppins', sans-serif;
}

.custNav {
    background: #0b2239;
    font-weight: 700;   
    /* position: fixed;  */
    /* width: 100%; */
}


@media (max-width: 768px) {

    .nav-item{
        /* border: 1px solid red; */
        text-align: center;
        margin: 5px 0;
    }

    .nav-link{
        /* border: 1px solid white; */
        font-size: 1.5rem;
    }

    .logout-btn{
        font-size: 1.5rem;
    }
}

@media (max-width: 640px) {

    .nav-item{
        text-align: center;
        margin: 2px 0;
    }

    .nav-link{
        font-size: 0.8rem;
    }

    .logout-btn{
        font-size: 0.8rem;
    }
}