<!-- --------------------------------------------- -->


<!-- <nav>
  <div class="container-fluid main-nav flex">
    <a href="#" class="company-logo">
      <img src="assets/img/logo.jpg" alt="company-logo">
    </a>

    <div class="nav-links" *ngIf="isLoggedIn()">
      <ul class="flex">
        <li class="hover-link" routerLink="/">Home</li>
        <li *ngIf="!isAdmin()" class="hover-link" routerLink="/cart">Cart</li>
        <li *ngIf="!isAdmin()" class="hover-link" routerLink="/myOrders">My Order</li>
        <li *ngIf="isAdmin()" class="hover-link" routerLink="/addNewProduct">Add Products</li>
        <li *ngIf="isAdmin()" class="hover-link" routerLink="/showProductDetails">Show Products</li>
        <li *ngIf="isAdmin()" class="hover-link" routerLink="/orderInformation">Order Details</li>        
        <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button> -->
        <!-- <li class="hover-link secondary-button">Sign In</li>         -->
      <!-- </ul>
      
    </div>
    <div class="nav-links">
      <ul class="flex"> -->
        <!-- <li class="hover-link" routerLink="/">Home</li> -->
        <!-- <button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/register">Signup</button>
      </ul>
    </div>
  </div>
</nav> -->



<!-- ------------------------------------------------- -->
<!-- This master UI -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span><i class="bi bi-bag-dash-fill"></i>eComm </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin"
          *ngIf="userService.roleMatch(['Admin'])"
          >Admin Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user"
          *ngIf="userService.roleMatch(['User'])"
          >User Dashboard</a>
        </li>
       
      </ul>
      <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
      <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
    </div>
  </div>
</nav> -->
<!-- MAster Ui end -->

 <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark  custNav">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img class="rounded mh-100" style="width: 50px; height: 50px;" src="assets/img/logo.jpg" alt="company-logo"> eComm</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item" *ngIf="!isAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/myOrders">My Order</a>
          </li> 
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/addNewProduct">Add Products</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/showProductDetails">Show Products</a>
          </li>   
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/orderInformation">Order Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">About</a>
          </li>
          <button class="logout-btn" *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
        </ul>
        <!-- <button type="button" class="btn btn-success m-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-danger m-2">Logout</button> -->
        <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedIn()"> 
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a> 
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link active" aria-current="page" routerLink="/register">Signup</a>
        </li>
      </ul>
      </div>
    </div>
  </nav> 


  <!-- ------------------------------------------------------- -->
  <!-- <header>
    <div class="header-left">
        <div class="logo"> -->
            <!-- <img src="assets/img/logo.jpg" alt=""> -->
            <!-- <span><i class="bi bi-bag-dash-fill"></i>eComm </span>
        </div>
        <nav>
            <ul *ngIf="isLoggedIn()">
                <li>
                    <a class="active" routerLink="/">Home</a>
                </li>
                <li>
                    <a *ngIf="!isAdmin()" routerLink="/cart">Cart</a>
                </li>
                <li>
                    <a *ngIf="!isAdmin()"   routerLink="/myOrders">My Order</a>
                </li>
                <li>
                    <a *ngIf="isAdmin()" routerLink="/addNewProduct">Add Products</a>
                </li>
                <li>
                  <a *ngIf="isAdmin()" routerLink="/showProductDetails">Show Products</a>
              </li>
              <li>
                <a *ngIf="isAdmin()" routerLink="/orderInformation">Order Details</a>
              </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Say, hi - info@virus.com</a>
                </li> -->
                <!-- <li>
                  <input type="button" value="Logout"><a (click)="logout()">Logout</a>
              </li> -->
                <!-- <div class="login-signup">
                  <li><button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button></li>
                </div>
            </ul>

            
              <div class="login-signup" *ngIf="!isLoggedIn()">
                <li>
                  <a href="" class="active">Home</a>
              </li>
                  <a href="">Login</a> or <a href="">Signup</a>
              </div>
        </nav>
    </div>
    <div class="header-right">
        <div class="login-signup" *ngIf="isLoggedIn()">
          <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
        </div>
        <div class="login-signup" *ngIf="!isLoggedIn()">
          <a routerLink="/login">Login</a> or <a routerLink="/register">Signup</a>
      </div>
        <div class="hamburger" style="border: 1px solid white;">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header> -->
