<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Enter your username">
                <mat-hint>Username</mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>User First Name</mat-label>
                <input matInput ngModel name="userFirstName" id="userFirstName" placeholder="Enter your first name">
                <mat-hint>User First Name</mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>User Last Name</mat-label>
                <input matInput ngModel name="userLastName" id="userLastName" placeholder="Enter your last name">
                <mat-hint>User Last Name</mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>User Password</mat-label>
                <input matInput ngModel name="userPassword" id="userPassword" placeholder="Enter your password">
                <mat-hint>User Password</mat-hint>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" mat-raised-button color="primary">Register</button>
            </div>

        </form>
    </div>
</div>
